[user]
  name = Lenon Marcel
  email = lenon.marcel@gmail.com

[color]
  ui = true

[push]
  ; push the current branch to update a branch with the same name on the receiving
  ; end
  default = current

[credential]
  helper =

[alias]
  l = log --oneline --graph --decorate
  s = status --short --branch
